*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#050505;
font-family:'Poppins',sans-serif;
overflow:hidden;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

#stars{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(white 1px,transparent 1px);
background-size:40px 40px;
opacity:.25;
animation:moveStars 60s linear infinite;
}

@keyframes moveStars{
from{
transform:translateY(0);
}
to{
transform:translateY(-400px);
}
}

#password-screen{
position:absolute;
width:100%;
height:100%;
display:flex;
justify-content:center;
align-items:center;
backdrop-filter:blur(5px);
}

.password-box{
width:400px;
background:#111;
padding:40px;
border-radius:20px;
text-align:center;
border:2px solid gold;
box-shadow:0 0 30px rgba(255,215,0,.3);
}

.password-box h2{
margin:15px 0;
font-family:'Cinzel',serif;
}

input{
width:100%;
padding:15px;
margin-top:20px;
border:none;
border-radius:10px;
font-size:18px;
text-align:center;
}

button{
margin-top:20px;
padding:15px 35px;
background:gold;
border:none;
border-radius:12px;
cursor:pointer;
font-size:17px;
font-weight:bold;
transition:.3s;
}

button:hover{
transform:scale(1.05);
}

#error{
margin-top:15px;
color:#ff7b7b;
}

#book-container{
display:none;
perspective:1800px;
}

#book{
width:900px;
height:550px;
display:flex;
}

.cover{
width:50%;
background:linear-gradient(145deg,#111,#222);
border:4px solid gold;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-family:'Cinzel',serif;
font-size:30px;
transform-origin:left;
transition:2s;
box-shadow:0 0 40px rgba(255,215,0,.4);
}

.page{
width:50%;
background:#fff8ea;
color:#222;
padding:50px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.page h1{
font-family:'Cinzel',serif;
margin-bottom:30px;
}

.page p{
margin:10px 0;
font-size:18px;
}

.spotify{
margin-top:30px;
padding:15px 30px;
background:#1DB954;
color:white;
text-decoration:none;
border-radius:15px;
font-weight:bold;
transition:.3s;
}

.spotify:hover{
transform:scale(1.08);
}

.open .cover{
transform:rotateY(-160deg);
}
